/* live.css */
.crisp-client .cc-1brb6 .cc-1yy0g .cc-1m2mf,
.crisp-client .cc-1brb6 .cc-1yy0g .cc-1no03 {
    position: fixed !important;
    right: 24px !important;
    bottom: 150px !important;
}

[dir='rtl'] .crisp-client .cc-1brb6 .cc-1yy0g .cc-1m2mf,
[dir='rtl'] .crisp-client .cc-1brb6 .cc-1yy0g .cc-1no03 {
    left: 18px !important;
    right: 70rem !important; 
}
@media (max-width: 768px) {
    [dir='rtl'] .crisp-client .cc-1brb6 .cc-1yy0g .cc-1m2mf,
    [dir='rtl'] .crisp-client .cc-1brb6 .cc-1yy0g .cc-1no03 {
        left: 7px !important;
        right: auto !important;
    }
    [dir='rtl'] .crisp-client .cc-1brb6 .cc-1yy0g .cc-1no03{
        right: 24rem !important;
    }
}